html {
    background-color: #dcdcdd;
}

.nav-button:hover {
    color: #1985a1;
}

.nav-button {
    color: #4c5c68;
    padding: .1em .4em .1em .4em; /* top right bottom left */
    text-decoration: none;
    float: right
}

.home-button {
    color: #121212;
    padding: .1em .4em .1em .4em; /* top right bottom left */
    text-decoration: none;
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

div.header {
    background-color: #c5c3c6;
    font-size: 1.5em;
    padding: .2em .5em .2em .5em; /* top right bottom left */
    width: 75%;
    margin: auto;
}

div.main {
    font-size: 1.2em;
    text-align: left;
    width: 75%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

@media only screen and (min-width: 300px) and (max-width: 750px) {
    div.header {
        width: 95%;
    }
    div.main {
        width: 95%;
    }
    .nav-button {
	padding: .1em .4em .1em .4em; /* top right bottom left */
    }
    .home-button {
	padding: .1em .4em .1em .4em; /* top right bottom left */
    }
}
